kjsdc@kkjsdc-06:~/INTERNSHIP/Assignment1$ git push -u origin main
remote: Permission to jessy2230/INTERNSHIP-PROJECT.git denied to Jessica-john-j.
fatal: unable to access 'https://github.com/jessy2230/INTERNSHIP-PROJECT.git/': The requested URL returned error: 403<h1>Kristu Jayanti Intern Community</h1>
<p>Current Date and Time: {{ currentDate | date: 'full' }}</p>
<div *ngIf="visible">
    <h3>About:</h3><br>
    <p>
        A successful internship program
    </p>
   
</div>
<button type="submit" (click)="togglevisibility()">Click me to toggle content</button>